{% extends "hayom/base.html" %}

{% load i18n %}

{% block head-extra %}
  <title> {% trans "ניתוח של ״המפה ואתה״ מבית ״ישראל היום״" %} </title>

  <style type="text/css">
    th {
      text-align: right;
    }
    .answer-invalid, .zero {
      color: #888;
    }
    .sim-results {
      background-color: #eef;
    }
    .answer-invalid.sim-results {
      background-color: white;
    }
    th.sim-results {
      background-color: #ccf;
    }
    .matrix {
      background-color: #fee;
    }
    th.matrix {
      background-color: #fcc;
    }
    .src-text {
      background-color: #ffe;
    }
    th.src-text {
      background-color: #ffc;
    }
    .general {
      background-color: #f8f8f8;
    }
    .answer {
      width: 144px;
    }
    .answer input[type="checkbox"] {
      position: relative;
    }
    .answer input[type="checkbox"]:before {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #808080;
      content: "";
      background: #FFF;
    }
    .answer input[type="checkbox"]:checked:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #faa;
      content: '✗';
    }
    .answer input[type="checkbox"]:not(:checked):after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #afa;
      content: '✓';
    }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2> {% trans "איך ״המפה ואתה״ עובד?" %} </h2>
      {% blocktrans %}
      לכל שאלה יש מספר תשובות אפשריות ולכל תשובה יש ערך מספרי.
      <br />
      למשל ל-״מסכים בהחלט״ יש ערך 2, ל״מסכים״ 1, מתנגד מינוס 1, וכו׳
      (בחלק מהשאלות יש ערכים הפוכים ול-״מסכים בהחלט״ יש ערך מינוס 2).
      <br />
      ערך התשובה מוכפל במקדם כפלי עבור השאלה עבור כל מפלגה,
      וערכים אלה מסוכמים לציון סופי.
      תוצאות ביניים מוצגות תוך כדי השאלון.
      <br />
      לבסוף, התוצאות ממוינות מהגבוה לנמוך,
      ושלושת התוצאות הגבוהות ביותר מוצגות למשתמש לפי הסדר.
      <br />
      במקרה של שיווין בניקוד, יש סדר בין המפלגות שקובע מי מהן תנצח.
      המפלגות פרט לראשונה במקרה של תיקו לא מוצגות,
      ובמקומן מוצגת שוב המפלגה הראשונה בשיוויון
      (למשל משתמש שנייטרלי בכל השאלות
      פרט לכך שהדברים ״מתקדמים בכיוון הלא נכון״
      יקבל את ״המחנה הציוני״ גם במקום הראשון
      וגם במקום השני במקום מרצ שלהם ניקוד זהה)
      {% endblocktrans %}
      <h2> {% trans "הטבלה" %} </h2>
      <p>
        {% blocktrans %}
        בטבלה שלפניכם מוצגים הסיכויים של המפלגות השונות
        להיות המפלגות שמתאימות למשתמש לפי האתר ״המפה ואתה״
        כאשר המשתמשים בוחרים תשובות באופן אקראי.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
        ניתן לבחור תשובות מסוימות לשאלות,
        והסימולציה של בחירת התשובות האקראיות תהיה מתוך התשובות הנבחרות.
        כדי לבחור תשובות יש לסמן בריבועים לצדן של התשובות.
        לאחר הסימון יש ללחוץ על כפתור העדכון בתחתית הטבלה.
        {% endblocktrans %}
      </p>
      <p>
        {% trans "חיתוכים לדוגמא" %}:
        <ul>
          <li>
            <a href="?">
              {% trans "בחירה מכל האפשרויות באופן אקראי" %}
            </a>
          </li>
          <li>
            <a href="?m2_3N-2=on&m2_3N-1=on&m2_3N1=on&m2_3N2=on&m3_3N-2=on&m3_3N-1=on&m3_3N1=on&m3_3N2=on&m4_3N-2=on&m4_3N-1=on&m4_3N1=on&m4_3N2=on&m5_3N-2=on&m5_3N-1=on&m5_3N1=on&m5_3N2=on&m6_3N-2=on&m6_3N-1=on&m6_3N1=on&m6_3N2=on&m2_1N-2=on&m2_1N-1=on&m2_1N1=on&m2_1N2=on&m3_1N-2=on&m3_1N-1=on&m3_1N1=on&m3_1N2=on&m4_1N-2=on&m4_1N-1=on&m4_1N1=on&m4_1N2=on&m5_1N-2=on&m5_1N-1=on&m5_1N1=on&m5_1N2=on&m6_1N-2=on&m6_1N-1=on&m6_1N1=on&m6_1N2=on&m2_2N-2=on&m2_2N-1=on&m2_2N1=on&m2_2N2=on&m3_2N-2=on&m3_2N-1=on&m3_2N1=on&m3_2N2=on&m4_2N-2=on&m4_2N-1=on&m4_2N1=on&m4_2N2=on&m5_2N-2=on&m5_2N-1=on&m5_2N1=on&m5_2N2=on&m6_2N-2=on&m6_2N-1=on&m6_2N1=on&m6_2N2=on&V16N-1=on&V16N1=on">
              {% trans "משתמש נייטרלי" %}
            </a> - {% trans "מקבל את הליכוד או את המחנה הציוני" %}.
          </li>
          <li>
            <a href="?m2_1N-2=on&m2_1N-1=on&m2_1N0=on&m5_1N0=on&m5_1N1=on&m5_1N2=on">
              {% trans "ירושלים בירתה הנצחית של העם היהודי ואין להעביר לפסלטינים את מזרח ירושלים" %}
            </a> - {% trans "מקבל את כולם חוץ מ״ישראל ביתנו״" %}.
          </li>
          <li>
            <a href="?version=2015.2.15">
              {% trans "גרסה קודמת של השאלון מ 2015.2.15" %}
            </a> - {% trans "לא ניתן לקבל את ״הרשימה המשותפת״" %}.
          </li>
          <li>
            {% blocktrans %}
            הצבעות המושפעות מההטיה שבניסוח השאלות,
            למשל כלול בשאלה טיעון או מילות תיאור חיוביות
            כמו ״כדי לעודד אנשים לצאת לעבודה״
            (לפי פרשנות שלי). -
            נותן יתרון לליכוד.
            {% endblocktrans %}
            <ul>
              <li>
                <a href="?m2_3N-2=on&m2_3N-1=on&m3_3N-2=on&m3_3N-1=on&m4_3N-2=on&m4_3N-1=on&m6_3N-2=on&m6_3N-1=on&m2_2N1=on&m2_2N2=on&m3_2N-2=on&m3_2N-1=on&m4_2N-2=on&m4_2N-1=on&m5_2N-2=on&m5_2N-1=on">
                  {% trans "השפעה קלה" %}
                </a>
              </li>
              <li>
                <a href="?m2_3N-2=on&m2_3N-1=on&m2_3N0=on&m3_3N-2=on&m3_3N-1=on&m3_3N0=on&m4_3N-2=on&m4_3N-1=on&m4_3N0=on&m6_3N-2=on&m6_3N-1=on&m6_3N0=on&m2_2N0=on&m2_2N1=on&m2_2N2=on&m3_2N-2=on&m3_2N-1=on&m3_2N0=on&m4_2N-2=on&m4_2N-1=on&m4_2N0=on&m5_2N-2=on&m5_2N-1=on&m5_2N0=on">
                  {% trans "הצבעה לפי ההטיה" %}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </p>
      <form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan=2 style="text-align: left;" class="src-text">
                {% trans "סדר המפלגות" %}:
                <br />
                ({% trans "במקרה של תיקו בניקוד המפלגה הראשונה לפי הסדר מנצחת והשניה נעלמת" %})
              </th>
              {% for party in parties %}
                <td class="src-text">
                  {{ party.name }}
                </td>
              {% endfor %}
            </tr>
            <tr>
              <th colspan=2 style="text-align: left;" class="sim-results">
                {% trans "סיכוי להיות מומלץ על ידי השאלון בהינתן התשובות הנבחרות" %}:
                <br />
                ({% trans "מתוך דגימה של" %} {{num_runs}} {% trans "ריצות אקראיות" %})
              </th>
              {% for party in parties %}
                <td class="sim-results">
                  {{ party.percent }}%
                </td>
              {% endfor %}
            </tr>
            <tr style="border-top: 3px solid black;">
              <th class="src-text">
                {% trans "שאלה" %},
                <i>{% trans "קוד" %}</i>
                ▼
              </th>
              <th class="src-text">
                {% trans "תשובה" %},
                <i>{% trans "ערך" %}</i>
                ▼
              </th>
              <th colspan={{num_parties}} class="sim-results">
                {% trans "סיכוי להיות מומלץ בהינתן תשובה מסוימת" %} ▼
              </th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr style="border-top: 3px solid black; border-bottom: 2px solid black;">
                {% if question.code == 'const' %}
                  <td class="general">
                    {% trans "בונוס/עונש קבוע בניקוד" %}
                  </td>
                  <th style="text-align: left;" class="matrix">
                    {% trans "ערך התחלתי" %}:
                  </th>
                {% else %}
                  <td rowspan={{question.num_rows}} class="src-text">
                    {{ question.title }}
                    <span style="float: left;"><i>{{question.code}}</i></span>
                  </td>
                  <th style="text-align: left;" class="matrix">
                    {% trans "מקדם" %}:
                  </th>
                {% endif %}
                {% for v in question.vector %}
                  <td dir="ltr" style="text-align: center;" class="matrix">
                    <span data-toggle="tooltip" title="{{v.party}}">
                      {% if v.val == '0.000' %}
                        <span class="zero"> 0 </span>
                      {% else %}
                        {{v.val}}
                      {% endif %}
                    </span>
                  </td>
                {% endfor %}
              </tr>
              {% if question.code != 'const' %}
                {% for answer in question.answers %}
                  <tr>
                    {% if answer.used %}
                      <td class="answer src-text">
                        <input type="checkbox" name="{{question.code}}N{{answer.val}}" />
                        {{ answer.name }}
                        <span dir="ltr" style="float: left;"><i>{{ answer.val }}</i></span>
                      </td>
                      {% for pct in answer.party_percents %}
                        <td class="sim-results">
                          {{pct}}%
                        </td>
                      {% endfor %}
                    {% else %}
                      <td class="answer answer-invalid src-text">
                        <input type="checkbox" name="{{question.code}}N{{answer.val}}" checked="on" />
                        {{ answer.name }}
                        <span dir="ltr">({{ answer.val }})</span>
                      </td>
                      {% for party in parties %}
                        <td class="answer-invalid sim-results">
                          -
                        </td>
                      {% endfor %}
                    {% endif %}
                  </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan={{num_cols}} style="border-top: 2px solid black;" class="general">
                {% trans "גרסת השאלון" %}:
                <ul>
                  <li>
                    <input type="radio" name="version" value="fixed"
                      {% if version == 'fixed' %} checked="true" {% endif %}
                    />
                    {% blocktrans %}
                      גרסה מתוקנת - בגרסה המקורית מאתר ישראל היום יש תקלה (ראה שורה הבאה),
                      שמקורה כנראה טעות מתכנת תמימה,
                      ולכן גרסה זו (המתוקנת) כנראה מייצגת את כוונת יוצרי האתר.
                    {% endblocktrans %}
                  </li>
                  <li>
                    <input type="radio" name="version" value="latest"
                      {% if version == 'latest' %} checked="true" {% endif %}
                    />
                    {% blocktrans %}
                      גרסה עדכנית (נכון ל 2015.2.23) כמו באתר ישראל היום, כולל תקלות.
                      יש תקלה בשאלה השלישית שבחירת ״נוטה להסכים״ או ״מסכים בהחלט״
                      לא מעדכנים את התשובה לשאלה זו
                      אלא משנים את התשובה לשאלה הראשונה ל ״נוטה להתנגד״ או ״מתנגד בהחלט״.
                    {% endblocktrans %}
                  </li>
                  {% for v in versions %}
                    <li>
                      <input type="radio" name="version" value="{{v}}"
                        {% if version == v %} checked="true" {% endif %}
                      />
                      {% trans "גרסה מ" %}
                      {{v}}
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td colspan={{num_cols}} style="text-align: center; border: 2px solid black;" class="general">
                <input type="submit" value="חשב עם התשובות הנבחרות" class="btn btn-lg btn-success" />
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
      <h2> {% trans "ניתוח גורמים ראשיים" %} </h2>
      <p>
        {% trans "כאן מוצגת אנליזה של המטריצה לפי שיטת" %}
        <a target="_blank" href="https://he.wikipedia.org/wiki/ניתוח_גורמים_ראשיים">
          {% trans "״ניתוח גורמים ראשיים״" %}
        </a>
        /
        <a target="_blank" href="https://he.wikipedia.org/wiki/פירוק_לערכים_סינגולריים">
          {% trans "״פירוק לערכים סינגולריים״" %}
        </a>.
      </p>
      <p>
        {% blocktrans %}
          הסתכלות זו נותנת מבט אחר על אותו המידע.
          פירוק זה מאחד שאלות דומות לאג׳נדות כלליות יותר,
          כשבניגוד לשאלות המקוריות, בין האג׳נדות השונות אין דמיון.
        {% endblocktrans %}
      </p>
      <table class="table table-bordered">
        <tr>
          <th colspan=2 class="matrix" style="text-align: left;"> {% trans "ערך סינגולרי" %}: </th>
          {% for val in svd_vals %}
            <td class="matrix"> {{val}} </td>
          {% endfor %}
        </tr>
        <tr>
          <th colspan=2 class="src-text" style="text-align: left;"> {% trans "מפלגה" %} ▼ </th>
          <th colspan="{{num_parties}}" class="matrix">
            {% trans "ערכי מטריצת SVD עבור המפלגות (כפול 100)" %} ▼
          </th>
        </tr>
        {% for party in svd_parties %}
          <tr>
            <td colspan=2 class="src-text" style="text-align: left;"> {{party.name}} </td>
            {% for x in party.weights %}
              <td class="matrix" dir="ltr" style="text-align: right;"> {{x}} </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <th class="src-text">
            {% trans "שאלה" %},
            <i>{% trans "קוד" %}</i>
          </th>
          <th class="src-text"> {% trans "כיוון חיובי" %} ▼ </th>
          <th colspan="{{num_parties}}" class="matrix">
            {% trans "ערכי מטריצת SVD עבור השאלות (כפול 100)" %} ▼
          </th>
        </tr>
        {% for question in svd_questions %}
          <tr>
            <td class="src-text">
              {{question.title}}
              <span style="float: left;"><i>{{question.code}}</i></span>
            </td>
            <td class="src-text"> {{question.positive}} </td>
            {% for x in question.weights %}
              <td class="matrix" dir="ltr" style="text-align: right;"> {{x}} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
